#landing-title {
  color: rgb(142, 113, 162);
}

#landing-text {
  color: rgb(142, 113, 162);
}

#enter-button {
  color: rgb(142, 113, 162);
  background-color: rgb(23, 11, 25);
  outline-color: none !important;
}